body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #000;
  background: white;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #292929;
    color: #fff;
  }
}

h2 {
  font-size: 1rem;
}

a {
  color: #fff;
  text-decoration: #fff;
}
